<div class="head-row custom-fluid-cont">
    <div class="container">
    <div class="row">
        <div class="span12">
            <h1>About Us <small class="visible-desktop">OTCG OTCG OTCG OTCG </small></h1>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span6">
            <h2>The Product</h2>
            <p>OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG </p>
            <p>OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG </p>
        </div>
        <div class="span6">
            <h2>The Vision</h2>
            <p>OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG </p>
            <p>OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG OTCG </p>
        </div>
    </div><!-- /row -->
    <br /><br />
    <div class="row">
        <div class="span12">
            <h2>The Team</h2><br />
        </div>
    </div>
    <div class="row">
        <div class="span12">
        <ul class="thumbnails">
            <li class="span3">
            <div class="thumbnail about">
            <img src="https://scontent-b.xx.fbcdn.net/hphotos-ash3/534226_365805403478009_1237298322_n.jpg">

                <div class="caption">
                <h5>QMAINE</h5>
                <p>"Chang Gang Or Dont Bang!"</p>
                </div>
            </div>
            </li>
            <li class="span3">
            <div class="thumbnail about">
                <img src="http://placehold.it/260x180" alt="">
                <div class="caption">
                <h5>Codester</h5>
                <p>Text</p>
                </div>
            </div>
            </li>
            <li class="span3">
            <div class="thumbnail about">
                <img src="http://placehold.it/260x180" alt="">
                <div class="caption">
                <h5>Ali Mills</h5>
                <p>Ali likes to hang out with Daniel when she's not at UCLA football games.</p>
                </div>
            </div>
            </li>
            <li class="span3">
            <div class="thumbnail about">
                <img src="http://placehold.it/260x180" alt="">
                <div class="caption">
                <h5>Lucille Larusso</h5>
                <p>A great manager and an awesome single mom.</p>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </div><!-- /row -->
    <br />
</div><!-- /container -->