
<div class="container-fluid hidden-phone custom-fluid-cont">
    <div class="row-fluid">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h1><center>Chang Gang or Dont Bang!!</center></h1>
                <p>Find out why you simply cannot live without our product. It's so cool, you'll tell your parents about it and explain it to them several times without getting annoyed. We promise we won't let you down. Try us out!</p>
           
            </div>
            <div class="da-slide">
                <h1><center>Austin's Hottest Music Source</center></h1>
                <br>
                <!-- <div class="da-img"><img src="img/2.png" alt="image01" /></div> -->
            </div>
            <div class="da-slide">
                <h1><center>OTCG STYLE - QMAINE ATX</center></h1>
                
                <img src="http://khongthe.com/wallpapers/people/sexy-lady-237979.jpg">
                <!-- <a href="#" class="da-link">Read more &rarr;</a> -->
               <!-- <div class="da-img"><img src="img/3.png" alt="image01" /></div> -->
            </div>
            <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
        </div>
    </div><!-- /row-fluid -->
</div><!-- /container-fluid -->

<div class="container">
    <div class="row ">
        <div class="page-header span12">
            <h2><center>Lets Get this Shit Poppin OTCG Style <a href="music.html">Check Out Our Music</a> now to find out why!</center></h2>
        </div>
    </div><!-- /row -->

    <div class="row top-space">
       
<!-- Video Embeds Start here -->
        <div class="span4">
            <iframe width="300" height="215" src="//www.youtube.com/embed/MtHT8Y1dgzc" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="span4">
        <iframe width="300" height="215" src="//www.youtube.com/embed/YBIGIoESM0g" frameborder="0" allowfullscreen></iframe>
        </div>
        
        <div class="span4">
            <iframe width="300" height="215" src="//www.youtube.com/embed/EqShLApnJVM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div><!-- /row -->
    <div class="row top-space">
        <div class="span4">
            <iframe width="300" height="215" src="//www.youtube.com/embed/YHAC1awMm5U" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="span4">
          <iframe width="300" height="215" src="//www.youtube.com/embed/Cu0VOnF99_U" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="span4">
          <iframe width="300" height="215" src="//www.youtube.com/embed/spV6r1Xyuiw" frameborder="0" allowfullscreen></iframe>
        </div>
    </div><!-- /row -->
    <br />
    <div class="row hidden-phone">
        <div class="span12">
            <center><h3>The press we haven't got can't stop talking about us</h3></center>
        </div>
    </div>
    <div class="row top-space hidden-phone">
        <div class="span3">
            <a href="#"><div class="press techcrunch hidden-tablet"></div></a>
        </div>
        <div class="span3">
            <a href="#" class="press webbys"></a>
        </div>
        <div class="span3">
            <a href="#" class="press lifehacker"></a>
        </div>
        <div class="span3">
            <a href="#" class="press betakit"></a>
        </div>
    </div><!-- /row -->
    <div class="row top-space">
        <div class="span12 top-space">
            <div class="hero-unit">
                <h1>Website Design by InfamoDesigns!</h1>
            </div>
        </div>
    </div>
</div><!-- /container -->
